* {
    box-sizing: border-box;
    margin: 0%;

}

.navbar_parent {
    height: 10vh;
    width: 100%;
    display: flex;
    background-color: #141A40;
    margin-bottom: 0% !important;

}

.child11 {
    height: 10vh;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;

}

.child11_logo {
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.child11_logo img {
    height: 80%;
    width: 60%;
    border-radius: 100%;

}

.child11_para {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 1.1rem;
}

.child22 {
    display: flex;
    justify-content: flex-end;
    height: 10vh;

    width: 80%;

}

.child22_searchbox_parent {
    width: 60%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.searchbox22 {
    display: flex;
    width: 60%;
    align-items: center;

    background-color: #12183F;
    justify-content: space-between;
    height: 5vh;
    border-radius: 0.5rem;


}

.searchbox22 input {
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: medium;
    padding-left: 5%;
}

.lg {
    color: white;

    font-size: medium;
    margin-left: 2%;
}

.ll {
    color: white;
    margin-right: 2%;
}



.lk {
    color: white;
}

.notificationlogo22 {
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.iimag {
    width: 17%;
    height: 10vh;
    display: flex;
    align-items: center;

}

.iimag img {
    border-radius: 100%;
    height: 70%;
    width: 45%;


}

/*NAVBAR SECTION END */

.all_parent {
    width: 96%;
 margin-left: 2%;
 margin-right: 2%;
 display: flex;


}

/*----------aside first section start---------*/
.aside1 {
    width: 62%;
    height: 79vh;
    overflow-y: scroll;
  

    


}
.aside1::-webkit-scrollbar {
    display: none;
}

.cold_play_parent {
    width: 100%;
    background-color: #12183F;
    display: flex;
    align-items: center;
    margin-top: 4%;
}

.cold_play_child1 {
    width: 38%;
    height: 50vh;

}

.cold_play_child1 img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;





}

.cold_play_name_para {
    display: flex;
    width: 100%;
}

.button_follow {
    display: flex;
}

.cold_play_child2 {
    width: 60%;
    height: 35vh;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.cold_play_name {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.cold_play_followers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.cold_play_name {
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.cold_play_followers {
    color: grey;
    font-size: small;
}

.british_band {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin-top: 2%;
    align-items: center;
    font-family: sans-serif;
}

.british_band {
    color: white;
}

.all_paragraph {
    color: gray;
    text-align: justify;
    font: small sans-serif;
    margin-bottom: 2%;
    margin-top: 1%;
    line-height: 130%;
}

.button_follow {
    display: flex;
    width: 35%;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.button {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.follow {
    width: 50%;
    justify-content: flex-end;
    display: flex;
}

.button button {
    height: 2.2rem;
    width: 100%;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;


}

.follow p {
    color: white;
    font-weight: bold;
    font-family: sans-serif;


}

.track_album {
    color: white;
}

.button button:hover {
    cursor: pointer;
    background-color: rgb(15, 15, 90);
    color: white;
    border-color: white;
}

/*  cold play section  end  */
/*  ************** PLAYLIST SECTION START ****************** */



.all_playlist_parent {
    height: auto;
    width: 100%;
    margin-top: 4%;

}

.playlist_parent {
    width: 100%;
    background-color: #12183F;
    height: 12vh;
    display: flex;
    margin-bottom: 2%;
}

.playlist_number {
    width: 5%;
    display: flex;
    align-items: center;
    color:gray;
    justify-content: center;
    
}
.playlist_image{
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.playlist_image img{
    width: 70%;
    height: 80%;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
}
.playlist_song_writter{
 width: 15%;
 color: white;

align-items: center;
}
.kiss_me_more{
    margin-top: 14%;
    font-family: sans-serif;
}
.doja_cat{
    margin-top: 5%;
    font-family: sans-serif;
    font-size: small;
    color: gray;
}
.playlist_heart_logo{
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:gray;
}
.playlist_plus_logo{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:gray;
}
.zzz:hover{
    transform: scale(1.3);
    color: white;
}
.playlist_parent:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}

/**************aside  first section end **********/

/**************aside  second section start **********/
.aside2{
    width: 35%;
    margin-left: 3%;
    
    flex-direction: column;
    height: 79vh;
    overflow-y: scroll;
}
.aside2::-webkit-scrollbar {
    display: none;
}
.similar_artist_all_parent{
    margin-top: 7%;
    width: 100%;
}
.similar_artist_header_parent{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}
.similar_artist_header_child1{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    font-size: large;
}
.similar_artist_header_child2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    color: gray;
    font-family: sans-serif;

    font-size: small;
   
}
.similar_artist_song-parent{
    display: flex;
    width: 100%;
    height: 7%;
    
    display: flex;
    margin-bottom: 3%;
    color: white;
    

}
.similar_artist_image{
    width: 25%;
    height: 70%;
  

}
.similar_artist_image img{
    width: 90%;
    height: 100%;
    
}
.latest_realese_song_name{
    width: 68%;
    
}
.dt{
    width: 5%;
}

.p1{
    margin-top: 6%;
    font-size: large;
    font-family: sans-serif;
  
}
.p2{
    margin-top:7%;
    font-size: small;
    color: gray;
    font-family: sans-serif;
}

.para{
 margin-top: 100%;
    
}
.p4{
    
    font-family: sans-serif;
    color: grey;
    font-size: small;
    margin-top: 100%;
}

.recently_all_parent{
    width: 100%;
    display: flex;
}
.recently_header{
    width: 100%;

}


.recentlyplayheader{
    display: flex;
    width: 100%;
    margin-top: 10%;
}
.rcheader{
    justify-content: flex-start;
    width:50% ;
    display: flex;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    align-items: center;
    color: white;
    font-family: sans-serif;
}
.vall{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
font-size: small;
color: gray;
align-items: center;
}





/******************/
.rc_all-parent{
    width: 100%;
    display: flex;
    margin-top: 6%;
    flex-direction: column;
}
.rtc-paren{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 3%;

}
.rc_image{
    width: 20%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    
}
.rc_image img{
    width: 80%;
    height: 100%;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
}
.rc_no{
    width: 6%;
    color:gray;
}
.rc_song_name{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3rem;
}
.rcheart{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
body{

    background-color: #0C1126;
    height: 100vh;

}
.rcsong p{
    color: white;
    font-family: sans-serif;
    font-size: medium;

}
.rcwritter p{
color: gray;
font-family: sans-serif;
font-size: small;
}
.rcheart{
    color: gray;
    margin-right: 1%;
}


/***********************FOTER SECTION START ***********************/

.footer_parent {

    width: 100%;
    height: 11vh;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(8, 8, 26);
    justify-content: space-between;
    position: relative;
    align-items: center;
    
}

.child1 {
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
}

.footer_image {
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.footer_image img {
    width: 100%;
   height: 85%;
}

.child2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-around;
    margin-top: 1vh;
    height: 10vh;
}

.child2_logo_1 {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.child2_logo_2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    

}

.seaven {
    width: 80%;

}


.input_type_1 {
    width: 100%;

}

.fas {
    color: white;
}

.child3 {
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
    margin-top: 1vh;

}

.peaches {
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 2%;
    color: white;

}

.justin {
    font-size: small;
    font-family: sans-serif;
    color: white;
    margin-top: 10%;

}

.far {
    color: white;
}

.fasss {
    color: white;
}

.circle {
    color: white;
}

.circle:hover {
    transform: scale(1.2);
    color: rgb(0, 255, 51);
}

.fasss:hover {
    color: red;
    transform: scale(1.2);
}

